<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel='stylesheet' href='/css/estilos.css' />
</head>
<body>


 <header class="site-header inicio">

        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/INDEX.HTML">
                    <div class="contenedor-logo-marvel">
                        <img src="css/img/logo_marvel.png" alt="Logotipo de MARVEL">
                    </div>
                </a>
                <nav class="navegacion">
                    <a href="/catalogo">Catalogo</a>
                    <a href="/personajes">Personajes</a>
                    <a href="/register">Registrate</a>
                    <div class="boton-iniciar-sesion">
                        <a href="/index">Iniciar Sesion </a>
                    </div>

                </nav>
            </div>
            <h1>INICIAR SESION</h1>
        </div> <!-- contenedor -->
    </header>

    <content>
        <div class="changePasswordForm">
            <div class="changePassword">
                <h1>Editar Usuario</h1>
            </div>

            <div class="inputForm">
                <form action="/update-password-admin" method="post">
                    <div class="userInfo">
                        <div class="userInfoForm">
                            <label for="name">Nombre: </label>
                            <input type="text" id="name" name="name" required placeholder="Nuevo Nombre" value="{{name}}"><br>
                        </div>
                        <div class="userInfoForm">
                            <label for="email">Correo Electrónico: </label>
                            <input type="email" id="email" name="email" required placeholder="Nuevo Correo Electrónico" value="{{email}}"><br>
                        </div>
                        <div class="userInfoForm">
                            <label for="newPassword">Contraseña: </label>
                            <input type="password" id="newPassword" name="newPassword" required placeholder="Nueva Contraseña" value="{{password}}"><br>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{{id}}">
                    <input type="hidden" name="secquestion" value="{{secquestion}}">
                    <input type="hidden" name="secanswer" value="{{secanswer}}">
                    <input type="hidden" name="role" value="{{role}}">
                    <button type="submit" id="loginBtn">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </content>
</body>
</html>
